############ Input ############

#### Infile(s)
# CoNLL2000 (BIO-tags) or span files (one 4-tuple per line); sentences separated by empty line
target_in = ./../data/target/ner_spans.csv
system_in = ./../data/system/ner_spans.csv

############ Eval config ############

#### Labels
# List of labels to evaluate; default: all
labels = all

# Exclude specific labels; default: none
exclude = 
   
#### Ignore punctuation (only for CoNLL); default: True
ignore_punct = False

#### Per-label evaluation
# focus: target or system; default: target
focus = target

#### Evaluation method: traditional, fair, weighted, all
eval_method = all

#### Weights
# Different types of boundary errors
weights = LE = 0.5 FP + 0.5 FN, BES = 0.5 TP + 0.5 FN, BEL = 0.5 TP + 0.5 FP, BEO = 0.5 TP + 0.25 FP + 0.25 FN, LBE = 0.5 FP + 0.5 FN

############ Output ############
    
# output file; if omitted: output to cmd
eval_out = ./../eval/eval_ner.csv
